@import '../../style/variables.scss';

.navbtn {
  position: absolute;
  height: 72px;
  white-space: nowrap;
  font-family: $font-family;
  font-size: 18px;
  color: $color;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    color: $color-dark;
  }

  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    border: none;
    background: transparent;
  }

  &:focus {
    color: $color-dark;
    background: #222;
    background: linear-gradient(180deg, #222 0%, #222 20%, transparent 100%);
    @media (prefers-color-scheme: dark) {
      color: $color;
      background-color: #fff;
    }
  }

  &__label {
    display: inline-flex;
    white-space: nowrap;
  }

  // Animate the characters in the label
  &__char {
    overflow: hidden;
    width: 0;
    height: 0;
    transform-origin: center center;
    transform: translateY(20px) rotate(359deg);
    transition:
      width 0.1s ease-out,
      height 0.1s ease-out,
      transform 0.8s ease-out;
    display: inline-block;
    transition-delay: 0s;
  }

  &__char:nth-child(odd) {
    transform: translateY(20px) rotate(-359deg);
  }

  @for $index from 1 through 100 {
    &:hover &__char:nth-child(#{$index}) {
      transition-delay: #{0.2 + $index * 0.02}s;
    }
  }

  &:hover &__char,
  &:focus &__char,
  &:active &__char {
    width: 14px;
    height: 20px;
    transform: translateY(0) rotate(0);
  }

  // Arrows
  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  @mixin arrow-bottom($color) {
    background: conic-gradient(at 50% 100%,
      #{$color} 45deg,
      transparent 45deg 315deg,
      #{$color} 315deg,
    );
  }

  &--bottom {
    padding: 12px 12px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      bottom: 36px;
      left: 50%;
      width: 24px;
      height: 12px;
      transform: translateX(-50%);
      animation-name: fadedown;
      animation-duration: 1s;
      animation-delay: 0s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      @include arrow-bottom($color);
      @media (prefers-color-scheme: dark) {
        @include arrow-bottom($color-dark);
      }
    }

    &::after {
      bottom: 12px;
      left: 50%;
      width: 24px;
      height: 12px;
      transition: 0.15s ease-out;
      transform: translateX(-50%);
      @include arrow-bottom($color);
      @media (prefers-color-scheme: dark) {
        @include arrow-bottom($color-dark);
      }
    }
  }

  &--bottom:hover {
    &::after {
      bottom: 10px;
      width: 32px;
      height: 16px;
    }
  }

  &--bottom:focus {
    &::before {
      @include arrow-bottom($color-dark);
    }
    &::after {
      @include arrow-bottom($color-dark);
    }
    @media (prefers-color-scheme: dark) {
      &::before {
        @include arrow-bottom($color);
      }
      &::after {
        @include arrow-bottom($color);
      }
    }
  }

  @keyframes fadedown {
    0% {
      opacity: 0.25;
      bottom: 12px;
    }
    100% {
      opacity: 0.0;
      bottom: 36px;
    }
  }
}
