@import '../../style/variables.scss';

.navbtn {
  position: absolute;
  width: 48px;
  height: 48px;
  white-space: nowrap;
  font-family: $font-family;
  font-size: 18px;
  color: $color;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;

  &,
  &:hover,
  &:focus,
  &:active,
  &:visited {
    border: none;
    background: transparent;
  }

  &__label {
    display: inline-flex;
    white-space: nowrap;
  }

  &__char {
    overflow: hidden;
    width: 0;
    height: 0;
    transform-origin: center center;
    transform: translateY(20px) rotate3d(0.5, 0.5, 0.5, 359deg);
    transition:
      width 0.1s ease-out,
      height 0.1s ease-out,
      transform 0.8s ease-out;
    display: inline-block;
    transition-delay: 0s;
  }

  &__char:nth-child(odd) {
    transform: translateY(20px) rotate3d(0.5, 0.5, 0.5, -359deg);
  }

  @for $index from 1 through 100 {
    &:hover &__char:nth-child(#{$index}) {
      transition-delay: #{0.2 + $index * 0.02}s;
    }
  }

  &:hover &__char {
    width: 14px;
    height: 20px;
    transform: translateY(0) rotate3d(0.5, 0.5, 0.5, 0deg);
  }

  &::after {
    content: '';
    position: absolute;
  }

  &--bottom {
    bottom: 8px;
    left: 50%;
    transform: translateX(-24px);

    &::after {
      bottom: 0;
      left: 12px;
      width: 24px;
      height: 12px;
      background: conic-gradient(
        at 50% 100%,
        $color 45deg,
        transparent 45deg 315deg,
        $color 315deg,
      );
    }
  }
}