@import '../../style/variables.scss';

.addlocation {
  // background-color: var(--bgcolor);
  color: var(--color);

  &__content {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__results {
    flex-grow: 1;
    overflow-y: scroll;
    margin: 0 0 64px;
    cursor: initial;

    &-scroll {
      position: relative;
    }

    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  &__break {
    margin: 0 0 48px;
  }

  &__inputcontainer {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      background: var(--color);
      background: linear-gradient(270deg, var(--color) 0%, var(--color) 20%, transparent 100%);
      position: absolute;
      left: -12px;
      top: 0;
      transition: 0.1s ease-out;
    }

    &:focus-within::after {
      width: 48px;
      left: -58px;
    }
  }

  &__input {
    background-color: var(--bgcolor-high-contrast);
    color: var(--color);
    border-width: 1px 0;
    border-color: var(--border) transparent var(--color);
    font-family: var(--font-family);
    font-size: 24px;
    padding: 16px;
    margin: 0;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;

    &::placeholder {
      color: var(--placeholder);
      font-style: italic;
    }

    &:focus {
      outline: none;
    }
  }
}